body {
    width: 65%;
    margin: auto;
}

/* -------------nav------------ */

nav ul {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);

}
nav ul li {
    list-style-type: none;
    padding: 20px;
}
nav ul li a {
    
    color: white;
    text-decoration: none;
}
nav+figure, h1 {
    text-align: center;
}
figure+h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

/* -------------fin nav------------ */

/* ---------accueil----------- */

div.background {
    background-image: url("/public/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
    margin-bottom: 80px;
}

div.background h2 {
    width: 40%;
    position: relative;
    left: 50%;
    top: 28%;
    text-align:justify;
}
div.background h2:last-child {
    width: 40%;
    position: relative;
    left: 45%;
    top: 30%;
}


/* ---------accueil fin----------- */

div.container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 4px;
    width: 350px;
    height: 500px;
}
figure img {
    width: 200px;
    height: auto;
}
div.card h2 {
    margin-bottom: 50px;
    text-align: center;
}

/* -----form contact----- */

#contactForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
    margin: auto;
    position: relative;
    top: 100px;
    border: solid 2px rgb(37, 27, 93);
    padding: 50px;
}

.errorColor {
    color: rgb(255, 0, 0);
}

/* -------footer---------- */

footer p {
    text-align: center;
    margin: 50px;
}

/* -------footer fin---------- */


